.cart__content {
    margin: var(--spacing-68) auto;
    min-height: 35vh;
}

.cart__title {
    display: inline-block;
    font-family: var(--font-inter);
    font-weight: 600;
    font-size: var(--font-46-display);
    border-bottom: 4px solid var(--rojo);
}