.login {
    min-height: 100vh;
}

.login__box {
    width: clamp(250px, 100%, 515px);
    margin: var(--spacing-128) auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: var(--spacing-24);
}

.login__title {
    font-family: var(--font-raleway);
    font-weight: 700;
    text-align: center;
    font-size: var(--font-38-jumbo);
    letter-spacing: 1px;
}

.login__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    gap: var(--spacing-28);
}

.form__item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: var(--spacing-16);
}

.form__label {
    font-family: var(--font-inter);
    font-size: var(--font-24-large);
    font-weight: 500;
}

.form__input {
    border: none;
    border-bottom: 2px solid var(--rojo);
    font-size: var(--font-16-small);
}

input:focus::placeholder {
    color: transparent;
}

.form__input:focus {
    outline: none;
}

.form__input#password {
    font-size: var(--font-24-large);
}

.login__box .form__link {
    font-size: var(--font-small);
    text-align: center;
}

.form__submit {
    display: flex;
    align-items: center;
    gap: var(--spacing-36);
    justify-content: center;
    margin: var(--spacing-16) 0;
}

.form__btn {
    width: 103px;
    height: 39px;
    background-color: var(--rojo);
    border: none;
    color: var(--fondo-claro);
    font-size: var(--font-14-xsmall);
}

.form__btn:hover {
    background-color: var(--rojo-90);
}

.checkbox__label--login {
    font-family: var(--font-inter);
    font-size: var(--font-18-medium);
    font-weight: 400;
    padding-left: 4px;
}

.form-check-login {
    width: var(--spacing-16);
    height: var(--spacing-16);
    border: 2px solid var(--fondo-oscuro);
    border-radius: 3px;
}