.shop__form {
    border-bottom: 1px dotted var(--negro-30);
}

.form__search {
    padding: 68px 0;
    width: clamp(250px, 250px, 100%);
    margin: auto;
}

.form__search--item {
    gap: var(--spacing-16);
}

label {
    font-size: var(--font-18-medium);
    font-weight: 600;
}

.shop {
    display: flex;
}

.shop__items {
    display: flex;
    flex-wrap: wrap;
    padding: var(--spacing-68) 0;
}

.shop__item {
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);*/
    margin: var(--spacing-8);
    flex: 1 1 clamp(250px, 30%, 30%);
}


.precio {
    margin: var(--spacing-16) 0;
}

.precio label {
    font-weight: 600;
    font-size: var(--font-12-xxsmall);
    padding-right: 10px;
}

.precio span {
    padding: 0 8px;
    font-size: var(--font-16-small);
}

.precio input {
    border: 2px solid var(--fondo-oscuro);
    border-radius: 5px;
    font-size: var(--font-18-medium);
    text-align: center;
}

.form__search--item input,
.form__search--item select {
    font-size: var(--font-18-medium);
}

.checkbox__content {
    padding: var(--spacing-20);
}

.form-check {
    display: flex;
    align-items: center;
}

.checkbox__label {
    font-size: var(--font-14-xsmall);
    padding-left: 4px;
}

.form-check-input {
    width: var(--spacing-16);
    height: var(--spacing-16);
    border: 2px solid var(--fondo-oscuro);
}

.form-select-lg {
    border: 2px solid var(--fondo-oscuro);
}

.pagination {
    display: flex;
    justify-content: center;
    gap: var(--spacing-12);
    padding-top: var(--spacing-68);
}

.pagination .pagination__link {
    display: block;
    font-size: var(--font-14-xsmall);
    font-weight: 700;
    border-radius: 4px;
    padding: var(--spacing-12) var(--spacing-16);
    border: 2px solid var(--negro-30);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.pagination .pagination__link:first-of-type,
.pagination .pagination__link:last-of-type {
    color: var(--negro-50);
}

.pagination .pagination__link:hover {
    background-color: var(--rojo);
    color: var(--fondo-claro);
    border-color: var(--rojo-50);
}

.pagination .pagination__link--selected {
    border-color: var(--rojo);
    color: var(--rojo);
}